
/* Your CSS Code here. */
.holder{

	/*background:darkblue;
	height:400px;
	 display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	background:darkblue;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-item:center;*/
	border: 2px solid red;
	 
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

.holder.item{
	/*width:25%;
	margin:10px;
	background:lightcoral;*/
	width: 200px;
    height: 200px;
  
    border: 2px solid black;
	
	
}